doctype html
head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet")
    link(href="../stylesheets/main.css" rel="stylesheet")
    link(href="../bower_components/fullcalendar/dist/fullcalendar.css" rel="stylesheet")
    script(src="../bower_components/jquery/dist/jquery.js")
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    .row
        h1.title.is-1.text-center RUF Calendar
            a(href="../index.html").btn.btn-default HOME
    #calendar
    script(src="../bower_components/moment/moment.js")
    script(src="../bower_components/fullcalendar/dist/fullcalendar.js")
    script(src="../scripts/main.js")
